* {
    padding: 0;
    margin: 0;
}

html{
scroll-behavior: smooth;
}

body {
    background-color: #00316B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ----------------------------- Index --------------------------- */


/* Header */
header {
    background-image: url('assets/img/fondo.jpeg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-position-y: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 13rem;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #00316B;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    transition: 500ms;
}

.nav-link:hover {
    color: #00316B;
}



.nav-logo img {
    margin-top: 1rem;
    width: 200px;
}

/* Dropdown Menu Styles */
.dropdown {
    position: relative;
}

.dropdown-arrow {
    margin-left: 0.5rem;
    font-size: 1rem;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.dropdown.active .dropdown-arrow {
    transform: rotate(90deg);
    /* Rotate the arrow 90 degrees */
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    transition: 500ms;
    background-color: #4747472d;
    width: 250px;
    font-size: 1rem;
}

.dropdown-menu .dropdown-item:hover {
    color: #00316B;
}

/* Show Dropdown Menu on Hover for Desktop */
@media (min-width: 1261px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 1260px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #47474765;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        text-align: start;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

    }

    .navbar {
        padding: 1rem 1rem;

    }

    .navbar a img {
        width: 10rem;
    }

    .nav-menu.active {
        left: 0;
        display: inline;
    }

    .nav-item {
        margin: 1rem;
    }

    .nav-link {
        text-decoration: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        background-color: transparent;
        border-radius: 0;
        display: none;
        /* Hide by default for mobile */
    }

    .dropdown.active .dropdown-menu {
        display: block;
        /* Show when dropdown is active */
    }

    .dropdown-menu .dropdown-item {
        background-color: transparent;
        /* Ensure dropdown items are visible on mobile */
    }

}

/* FIN NAVBAR */

/* Property Managment */
.PropertyManagment {
    color: white;
    margin: 2rem 20vw;
}


/* Acordion */
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    padding-top: 50px;
    color: white;
    padding-bottom: 1rem;
}

.container h2 {
    text-align: start;
}

.faqs .faq .head {
    display: flex;
    padding: 25px 0px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

h2 {
    font-family: "Fahkwang", sans-serif;
}

.faqs .faq .head svg {
    transition: transform 0.25s ease-in;
}

.faqs .faq .content {
    height: 0px;
    overflow-y: hidden;
    transition: height 0.25s ease-in;
    border-bottom: 1px solid #afafaf;
}

/* Cuando esta activo */
.faqs .faq.active .head svg {
    transform: rotate(180deg);
}

.img{
    display:flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 80%;
    margin: 4rem 0rem 1rem 0rem
}
.AIRBNB{
    padding-bottom: 4rem !important;
}

@media only screen and (max-width: 765px) {
    .PropertyManagment {
        color: white;
        margin: 2rem 10vw;
    }

}

/* About */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    color: white;
    margin: 2rem 0rem;
    font-size: 1rem;
    gap: 20px;
}

.text_about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 400px;
}

.text_about p {
    font-size: 1rem;
}

.linea {
    height: 2px;
    width: 90px;
    background-color: white;
    margin: .6rem 0rem;
}

.about img {
   width: 20%;
}

@media only screen and (max-width: 765px) {
    .about {
        margin: 2rem;
    }

    .text_about p {
        font-size: 1rem;
    }

}

/* Enviar Correo */
.enviarEmail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    background-color: white;
    gap: 1rem;
}

.enviarEmail input {
    padding: 1rem;
    width: 30%;
}

.enviarEmail button {
    padding: 1rem 2rem;
    color: white;
    background-color: #00316B;
    border: 1px solid #00316B;
    transition: 500ms;
    border-radius: 0px 3px 3px 0px;
}

.enviarEmail button:hover {
    color: #00316B;
    background-color: white;
    border: 1px solid #00316B;
}

@media only screen and (max-width: 765px) {
    .enviarEmail input {
        padding: 1rem;
        width: 40%;
    }

}

/* Additonial */
.additional{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 3rem;
    flex-wrap: wrap;
}
.additional-text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    width: 45%;
    gap: .2rem;

}
.additional img{
    width: 20rem;
}

@media only screen and (max-width: 765px) {
    .additional-text{
        width: 80%;
    }
}


/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00316B;
    flex-direction: column;
}

footer p {
    color: gray;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 0rem;
    gap: 1rem;
}

.redes ul li a {
    color: white;
}

.footer img {
    width: 20rem;
}

@media only screen and (max-width: 563px) {}

/* FIN FOOTER */